src/miiCard.Consumers.Service.Financial/Service References/v1.Financial/Financial.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sts.miicard.com/api/v1/Financial.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/miiCard.STS.Model.Api" />
  <xs:element name="IsRefreshInProgress">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsRefreshInProgressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/miiCard.STS.Model.Api" minOccurs="0" name="IsRefreshInProgressResult" nillable="true" type="q1:MiiApiResponseOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshFinancialData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshFinancialDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/miiCard.STS.Model.Api" minOccurs="0" name="RefreshFinancialDataResult" nillable="true" type="q2:MiiApiResponseOfFinancialRefreshStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinancialTransactions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinancialTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/miiCard.STS.Model.Api" minOccurs="0" name="GetFinancialTransactionsResult" nillable="true" type="q3:MiiApiResponseOfMiiFinancialData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>