src/miiCard.Consumers.Service.Claims/Service References/v1.Claims/Claims5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sts.miicard.com/api/v1/Claims.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/miiCard.STS.Model.Api" />
  <xs:import schemaLocation="http://sts.miicard.com/api/v1/Claims.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="GetClaims">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaimsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/miiCard.STS.Model.Api" minOccurs="0" name="GetClaimsResult" nillable="true" type="q1:MiiApiResponseOfMiiUserProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssuranceImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssuranceImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/Message" name="AssuranceImageResult" type="q2:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsSocialAccountAssured">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="socialAccountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="socialAccountType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsSocialAccountAssuredResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/miiCard.STS.Model.Api" minOccurs="0" name="IsSocialAccountAssuredResult" nillable="true" type="q3:MiiApiResponseOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserAssured">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserAssuredResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/miiCard.STS.Model.Api" minOccurs="0" name="IsUserAssuredResult" nillable="true" type="q4:MiiApiResponseOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentitySnapshotDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="snapshotId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentitySnapshotDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/miiCard.STS.Model.Api" minOccurs="0" name="GetIdentitySnapshotDetailsResult" nillable="true" type="q5:MiiApiResponseOfArrayOfIdentitySnapshotDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentitySnapshot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="snapshotId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentitySnapshotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/miiCard.STS.Model.Api" minOccurs="0" name="GetIdentitySnapshotResult" nillable="true" type="q6:MiiApiResponseOfIdentitySnapshot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentitySnapshotPdf">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="snapshotId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentitySnapshotPdfResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/Message" name="GetIdentitySnapshotPdfResult" type="q7:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/miiCard.STS.Model.Api" minOccurs="0" name="configuration" nillable="true" type="q8:CardImageConfiguration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/Message" name="GetCardImageResult" type="q9:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthenticationDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="snapshotId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthenticationDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/miiCard.STS.Model.Api" minOccurs="0" name="GetAuthenticationDetailsResult" nillable="true" type="q10:MiiApiResponseOfAuthenticationDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>