src/miiCard.Consumers/Service References/Service.v1.Claims/Claims.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/miiCard.STS.Model.Api.Transactional" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/miiCard.STS.Model.Api.Transactional" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://stsbeta.miicard.com/api/v1/Claims.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/miiCard.STS.Model.Api" />
  <xs:complexType name="ArrayOfIdentitySnapshotDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IdentitySnapshotDetails" nillable="true" type="tns:IdentitySnapshotDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIdentitySnapshotDetails" nillable="true" type="tns:ArrayOfIdentitySnapshotDetails" />
  <xs:complexType name="IdentitySnapshotDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="SnapshotId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimestampUtc" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WasTestUser" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IdentitySnapshotDetails" nillable="true" type="tns:IdentitySnapshotDetails" />
  <xs:complexType name="IdentitySnapshot">
    <xs:sequence>
      <xs:element minOccurs="0" name="Details" nillable="true" type="tns:IdentitySnapshotDetails" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/miiCard.STS.Model.Api" minOccurs="0" name="Snapshot" nillable="true" type="q1:MiiUserProfile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IdentitySnapshot" nillable="true" type="tns:IdentitySnapshot" />
</xs:schema>