src/miiCard.Consumers/Service References/Service.v1.Claims/Claims.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Claims" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IClaims_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://stsbeta.miicard.com/api/v1/Claims.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://stsbeta.miicard.com/api/v1/Claims.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://stsbeta.miicard.com/api/v1/Claims.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/miiCard.STS.Model.Api" />
      <xsd:import schemaLocation="http://stsbeta.miicard.com/api/v1/Claims.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClaims_GetClaims_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClaims" />
  </wsdl:message>
  <wsdl:message name="IClaims_GetClaims_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClaimsResponse" />
  </wsdl:message>
  <wsdl:message name="IClaims_AssuranceImage_InputMessage">
    <wsdl:part name="parameters" element="tns:AssuranceImage" />
  </wsdl:message>
  <wsdl:message name="IClaims_AssuranceImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:AssuranceImageResponse" />
  </wsdl:message>
  <wsdl:message name="IClaims_IsSocialAccountAssured_InputMessage">
    <wsdl:part name="parameters" element="tns:IsSocialAccountAssured" />
  </wsdl:message>
  <wsdl:message name="IClaims_IsSocialAccountAssured_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsSocialAccountAssuredResponse" />
  </wsdl:message>
  <wsdl:message name="IClaims_IsUserAssured_InputMessage">
    <wsdl:part name="parameters" element="tns:IsUserAssured" />
  </wsdl:message>
  <wsdl:message name="IClaims_IsUserAssured_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsUserAssuredResponse" />
  </wsdl:message>
  <wsdl:portType name="IClaims">
    <wsdl:operation name="GetClaims">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaims/GetClaims" message="tns:IClaims_GetClaims_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaims/GetClaimsResponse" message="tns:IClaims_GetClaims_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AssuranceImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaims/AssuranceImage" message="tns:IClaims_AssuranceImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaims/AssuranceImageResponse" message="tns:IClaims_AssuranceImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsSocialAccountAssured">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaims/IsSocialAccountAssured" message="tns:IClaims_IsSocialAccountAssured_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaims/IsSocialAccountAssuredResponse" message="tns:IClaims_IsSocialAccountAssured_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsUserAssured">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaims/IsUserAssured" message="tns:IClaims_IsUserAssured_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaims/IsUserAssuredResponse" message="tns:IClaims_IsUserAssured_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClaims" type="tns:IClaims">
    <wsp:PolicyReference URI="#BasicHttpBinding_IClaims_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetClaims">
      <soap:operation soapAction="http://tempuri.org/IClaims/GetClaims" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssuranceImage">
      <soap:operation soapAction="http://tempuri.org/IClaims/AssuranceImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsSocialAccountAssured">
      <soap:operation soapAction="http://tempuri.org/IClaims/IsSocialAccountAssured" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUserAssured">
      <soap:operation soapAction="http://tempuri.org/IClaims/IsUserAssured" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Claims">
    <wsdl:port name="BasicHttpBinding_IClaims" binding="tns:BasicHttpBinding_IClaims">
      <soap:address location="https://rd00155d3a4b7f/api/v1/Claims.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>